In [ ]:
#Henry Lissner, Iris Gallagher, Christian Somoya

In [390]:
#Importing the dataset and looking into it 
import pandas as pd

df = pd.read_csv('waterpump.csv')
df.info()
df.head()

In [392]:
#Checking for null values
df.isnull().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    2776
gps_height                   0
installer                 2782
longitude                    0
latitude                     0
wpt_name                     1
num_private                  0
basin                        0
subvillage                 287
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            2555
recorded_by                  0
scheme_management         2942
scheme_name              21782
permit                    2313
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
status_group                 0
dtype: int64

In [393]:
#Using unique to see the distribution of values
df.status_group.unique()

array(['functional', 'non functional', 'functional needs repair'],
      dtype=object)

In [394]:
#Manipulating the target feature to only be 2 values: functioning or nonfunctining
cleanup_nums = {"functional": 1, "non functional": 0,"functional needs repair": 1}

In [395]:
df.replace(cleanup_nums, inplace=True)

In [396]:
df.status_group

0        1
1        0
2        0
3        0
4        0
        ..
45004    0
45005    1
45006    1
45007    0
45008    0
Name: status_group, Length: 45009, dtype: int64

In [397]:
#Dropping values to continue cleaning
df.drop('scheme_name', axis= 1, inplace = True)

In [398]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45009 entries, 0 to 45008
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     45009 non-null  int64
 1   amount_tsh             45009 non-null  float64
 2   date_recorded          45009 non-null  object
 3   funder                 42233 non-null  object
 4   gps_height             45009 non-null  int64
 5   installer              42227 non-null  object
 6   longitude              45009 non-null  float64
 7   latitude               45009 non-null  float64
 8   wpt_name               45008 non-null  object
 9   num_private            45009 non-null  int64
 10  basin                  45009 non-null  object
 11  subvillage             44722 non-null  object
 12  region                 45009 non-null  object
 13  region_code            45009 non-null  int64
 14  district_code          45009 non-null  int64
 15  lga                    45009 non-null  object
 16  ward                   45009 non-null  object
 17  population             45009 non-null  int64
 18  public_meeting         42454 non-null  object
 19  recorded_by            45009 non-null  object
 20  scheme_management      42067 non-null  object
 21  permit                 42696 non-null  object
 22  construction_year      45009 non-null  int64
 23  extraction_type        45009 non-null  object
 24  extraction_type_group  45009 non-null  object
 25  extraction_type_class  45009 non-null  object
 26  management             45009 non-null  object
 27  management_group       45009 non-null  object
 28  payment                45009 non-null  object
 29  payment_type           45009 non-null  object
 30  water_quality          45009 non-null  object
 31  quality_group          45009 non-null  object
 32  quantity               45009 non-null  object
 33  quantity_group         45009 non-null  object
 34  source                 45009 non-null  object
 35  source_type            45009 non-null  object
 36  source_class           45009 non-null  object
 37  waterpoint_type        45009 non-null  object
 38  waterpoint_type_group  45009 non-null  object
 39  status_group           45009 non-null  int64
dtypes: float64(3), int64(8), object(29)
memory usage: 13.7+ MB

In [399]:
#Fixing NA values
df.installer.value_counts()
df.installer.fillna('DWE', inplace = True)

In [400]:
df.subvillage.value_counts()
df.subvillage.fillna(method = 'ffill', inplace = True)

In [401]:
df.public_meeting.value_counts()

public_meeting
True     38683
False     3771
Name: count, dtype: int64

In [402]:
df.scheme_management.value_counts()

scheme_management
VWC                 27905
WUG                  3914
Water authority      2426
WUA                  2170
Water Board          2092
Parastatal           1238
Private operator      817
Company               810
Other                 565
SWC                    78
Trust                  52
Name: count, dtype: int64

In [403]:
df.drop('scheme_management', axis= 1, inplace = True)####might WANT TO KEEP THIS

In [404]:
df.permit.value_counts()

permit
True     29483
False    13213
Name: count, dtype: int64

In [405]:
df.public_meeting.fillna(method = 'ffill', inplace = True)
df.permit.fillna(method = 'ffill', inplace = True)
df.funder.fillna(method = 'ffill', inplace = True)# maybe do different method

In [406]:
#Checking that there are no NA left
df.isnull().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 1
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
recorded_by              0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
status_group             0
dtype: int64

In [407]:
#Cleaning duplicates
df.drop_duplicates(inplace = True)

In [408]:
df.duplicated().sum()
df.info()

0

In [410]:
#columns with duplicate columns
df.drop('recorded_by', axis= 1, inplace = True)
df.drop('quantity', axis= 1, inplace = True)
df.drop('quantity_group', axis= 1, inplace = True)
df.drop('waterpoint_type_group', axis= 1, inplace = True)
df.drop('payment', axis= 1, inplace = True)
df.drop('date_recorded', axis= 1, inplace = True)
df.drop('region', axis= 1, inplace = True)
df.drop('extraction_type', axis= 1, inplace = True)
df.drop('extraction_type_class', axis= 1, inplace = True)
df.drop('management', axis= 1, inplace = True)
df.drop('source', axis= 1, inplace = True)
df.drop('source_class', axis= 1, inplace = True)
df.drop('subvillage', axis= 1, inplace = True)

In [411]:
#Encoding columns
df['funder'] = df['funder'].astype('category').cat.codes
df['installer'] = df['installer'].astype('category').cat.codes
df['wpt_name'] = df['wpt_name'].astype('category').cat.codes
df['lga'] = df['lga'].astype('category').cat.codes
df['ward'] = df['ward'].astype('category').cat.codes
df['quality_group'] = df['quality_group'].astype('category').cat.codes

In [412]:
df = pd.get_dummies(df, columns = ['basin', 'management_group', 'payment_type', 'water_quality',
                                    'source_type', 'waterpoint_type', 'funder', 'extraction_type_group'])

In [349]:
#Checking that the dtypes are correct so we can run models efficiently
df.select_dtypes('object')

      quantity_group
0       insufficient
1             enough
2                dry
3             enough
4       insufficient
...              ...
45004   insufficient
45005   insufficient
45006         enough
45007         enough
45008   insufficient

[45009 rows x 1 columns]

In [413]:
#Creating X and y for models
X = df.drop('status_group', axis = 1)
y = df['status_group']

In [414]:
#imports and dp train/test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = .2, stratify = y, random_state = 24)

In [417]:
#running the rfe 
from sklearn.feature_selection import RFE
from sklearn.tree import DecisionTreeClassifier
rfe_rf = RFE(estimator = DecisionTreeClassifier(), n_features_to_select = 20, step =20, verbose = 1)

rfe_rf.fit(X_train, y_train)
accuracy_rf = rfe_rf.score(X_test, y_test)

rf_mask = rfe_rf.support_

X_train_select = X_train.loc[:, rf_mask]
X_test_select = X_test.loc[:, rf_mask]

Fitting estimator with 1727 features.
Fitting estimator with 1707 features.
Fitting estimator with 1687 features.
Fitting estimator with 1667 features.
Fitting estimator with 1647 features.
Fitting estimator with 1627 features.
Fitting estimator with 1607 features.
Fitting estimator with 1587 features.
Fitting estimator with 1567 features.
Fitting estimator with 1547 features.
Fitting estimator with 1527 features.
Fitting estimator with 1507 features.
Fitting estimator with 1487 features.
Fitting estimator with 1467 features.
Fitting estimator with 1447 features.
Fitting estimator with 1427 features.
Fitting estimator with 1407 features.
Fitting estimator with 1387 features.
Fitting estimator with 1367 features.
Fitting estimator with 1347 features.
Fitting estimator with 1327 features.
Fitting estimator with 1307 features.
Fitting estimator with 1287 features.
Fitting estimator with 1267 features.
Fitting estimator with 1247 features.
Fitting estimator with 1227 features.
Fitting estimator with 1207 features.
Fitting estimator with 1187 features.
Fitting estimator with 1167 features.
Fitting estimator with 1147 features.
Fitting estimator with 1127 features.
Fitting estimator with 1107 features.
Fitting estimator with 1087 features.
Fitting estimator with 1067 features.
Fitting estimator with 1047 features.
Fitting estimator with 1027 features.
Fitting estimator with 1007 features.
Fitting estimator with 987 features.
Fitting estimator with 967 features.
Fitting estimator with 947 features.
Fitting estimator with 927 features.
Fitting estimator with 907 features.
Fitting estimator with 887 features.
Fitting estimator with 867 features.
Fitting estimator with 847 features.
Fitting estimator with 827 features.
Fitting estimator with 807 features.
Fitting estimator with 787 features.
Fitting estimator with 767 features.
Fitting estimator with 747 features.
Fitting estimator with 727 features.
Fitting estimator with 707 features.
Fitting estimator with 687 features.
Fitting estimator with 667 features.
Fitting estimator with 647 features.
Fitting estimator with 627 features.
Fitting estimator with 607 features.
Fitting estimator with 587 features.
Fitting estimator with 567 features.
Fitting estimator with 547 features.
Fitting estimator with 527 features.
Fitting estimator with 507 features.
Fitting estimator with 487 features.
Fitting estimator with 467 features.
Fitting estimator with 447 features.
Fitting estimator with 427 features.
Fitting estimator with 407 features.
Fitting estimator with 387 features.
Fitting estimator with 367 features.
Fitting estimator with 347 features.
Fitting estimator with 327 features.
Fitting estimator with 307 features.
Fitting estimator with 287 features.
Fitting estimator with 267 features.
Fitting estimator with 247 features.
Fitting estimator with 227 features.
Fitting estimator with 207 features.
Fitting estimator with 187 features.
Fitting estimator with 167 features.
Fitting estimator with 147 features.
Fitting estimator with 127 features.
Fitting estimator with 107 features.
Fitting estimator with 87 features.
Fitting estimator with 67 features.
Fitting estimator with 47 features.
Fitting estimator with 27 features.

In [428]:
#future imports
from sklearn.model_selection import cross_validate, GridSearchCV
from sklearn.tree import DecisionTreeClassifier 
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import f1_score

In [432]:
#running our Decision Tree Classifier
param_grid = { 
    "max_depth": [5, 6, 7, 8],
    "min_samples_leaf": [1, 3],   
}
 
cl = DecisionTreeClassifier()    

grid_search = GridSearchCV(estimator = cl, param_grid = param_grid, cv=5,n_jobs = -1, verbose = 2, scoring = 'f1')
grid_search.fit(X_train_select, y_train)
print("Best Score:", grid_search.best_score_)

Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best Score: 0.8122984493245727

In [430]:
#Looking at our best params and best score for train
print("Best Params are", grid_search.best_params)
print("Best Score:", grid_search.best_score_)

AttributeError: 'GridSearchCV' object has no attribute 'best_params'

In [434]:
#Looking at test best parameters and score
grid_search.fit(X_test, y_test)

# Best parameters and best score
print("Best Parameters:", grid_search.best_params_)
print("Best Score:", grid_search.best_score_)
 
# Use the best estimator
best_cl = grid_search.best_estimator_
 
# Get feature importances
feature_importances = best_cl.feature_importances_
 
# Returning the best model and its feature importances
(best_cl, feature_importances)

Fitting 5 folds for each of 8 candidates, totalling 40 fits
Best Parameters: {'max_depth': 7, 'min_samples_leaf': 3}
Best Score: 0.8044535608568202

(DecisionTreeClassifier(max_depth=7, min_samples_leaf=3),
 array([0.00272379, 0.11763601, 0.0208343 , ..., 0.        , 0.        ,
        0.        ]))